@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins";
}

body {
  background: linear-gradient(#ffabe1, #937dc2);
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

select {
  text-align: left;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0.5rem 5rem 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.5);
  background-image: url(images/white-down-arrow-png-2.png);
  background-position: 90% center;
  background-repeat: no-repeat;
  background-size: 15px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

select:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.options {
  background-color: #000;
}

.image {
  width: 15rem;
  height: 15rem;
  border-radius: 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.image:hover {
  box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.8);
}

.container {
  position: relative;
  box-sizing: border-box;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.75);
  padding: 3rem 3.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.songInfo {
  width: 100%;
  max-width: 15rem;
  height: 5rem;
  text-align: center;
}

.songName {
  position: relative;
  font-weight: 500;
}

.singer {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 300;
}

.progress-bar {
  padding: 0.5rem 0;
  width: 15rem;
  display: flex;
  justify-content: center;
}
progress {
  border-radius: 7px;
  width: 100%;
  height: 4px;
}
progress::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 3px rgba(255, 255, 255, 0.39);
}
.controls {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 0.3);
  box-shadow: 1px 1px 5px 3px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  box-shadow: 0.1px 0.1px 1px 1px rgba(255, 255, 255, 0.1);
}

.btn:active {
  transform: scale(0.6);
}

.icon {
  color: #fff;
}

.volumeDiv {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 0%;
  right: 0.5rem;
  z-index: 2;
  background-color: rgba(51, 51, 51, 0.3);
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

.volumeDiv:hover {
  height: 175px;
  width: 40px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 1px 1px 5px 3px rgba(255, 255, 255, 0.1);
}

.volume-bar {
  display: none;
  width: 100px;
  height: 4px;
  background-color: transparent;
  border-radius: 50px;
  rotate: -90deg;
  transition: all 0.5s ease-in-out;
}

.volumeDiv:hover .volume-bar {
  display: block;
  animation: volume-bar 0.5s normal;
}

.disabled {
  /* background-color: ; */
  pointer-events: none;
}

.disabled .volume {
  box-shadow: none;
}

.disabled:hover .volume-bar {
  display: none;
  animation: none;
}

.disabled i {
  color: rgba(90, 88, 88, 0.826);
}

@keyframes volume-bar {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.time {
  width: 15rem;
  margin-bottom: -1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
